<div class="mt-10 mx-auto w-4/5">
<% if user_signed_in? %>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
<% else %>
  <h1 class="font-serif text-4xl">ログインしていいよ</h1>
  <%# <%= link_to "ログイン", new_user_session_path, method: :get  %>
  <%= link_to new_user_session_path, method: :get  do%>
    <p class="inline py-1 px-3 bg-green-700 border border-green-700 text-white font-bold rounded-md hover:bg-white hover:text-green-700 duration-300">ログイン</p>
  <% end %>
<% end %>
</div>
